body {
    margin: 0;
}

.container {
    display: flex;
}

.half {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#formvalue {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 20rem;
    resize: none;
}

#encodedvalue {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 20rem;
    resize: none;
}

#formsubmit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formsubmit:hover {
    background-color: #45a049;
}